@use "./base.scss";

// put your custom CSS here!/* Centre tous les blocs $$ … $$ */
/* Centre tous les blocs KaTeX dans Quartz v4 */
/* Centre tous les blocs LaTeX dans Quartz v4 */
.latex-container {
    display: flex !important;
    justify-content: center !important;
    margin: 1em 0 !important;
}

.latex-container .katex-display {
    text-align: center !important;
}